--
-- PostgreSQL database dump
--

-- Dumped from database version 15.12 (Debian 15.12-1.pgdg120+1)
-- Dumped by pg_dump version 15.12 (Debian 15.12-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: RequestStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."RequestStatus" AS ENUM (
    'PENDING',
    'APPROVED',
    'REJECTED'
);


ALTER TYPE public."RequestStatus" OWNER TO postgres;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Role" AS ENUM (
    'USER',
    'ADMIN'
);


ALTER TYPE public."Role" OWNER TO postgres;

--
-- Name: Visibility; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Visibility" AS ENUM (
    'public',
    'private'
);


ALTER TYPE public."Visibility" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Account; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Account" (
    id text NOT NULL,
    "userId" text NOT NULL,
    type text NOT NULL,
    provider text NOT NULL,
    "providerAccountId" text NOT NULL,
    refresh_token text,
    access_token text,
    expires_at integer,
    token_type text,
    scope text,
    id_token text,
    session_state text
);


ALTER TABLE public."Account" OWNER TO postgres;

--
-- Name: Blog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Blog" (
    id text NOT NULL,
    "authorId" text NOT NULL,
    content text NOT NULL,
    title text NOT NULL,
    thumbnail text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updateAt" timestamp(3) without time zone NOT NULL,
    visibilty public."Visibility" DEFAULT 'private'::public."Visibility" NOT NULL
);


ALTER TABLE public."Blog" OWNER TO postgres;

--
-- Name: BlogRequest; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."BlogRequest" (
    id text NOT NULL,
    "blogId" text NOT NULL,
    "requesterId" text NOT NULL,
    status public."RequestStatus" DEFAULT 'PENDING'::public."RequestStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."BlogRequest" OWNER TO postgres;

--
-- Name: CodeBuddyRequest; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CodeBuddyRequest" (
    id text NOT NULL,
    "requesterId" text NOT NULL,
    "receiverId" text NOT NULL,
    status public."RequestStatus" DEFAULT 'PENDING'::public."RequestStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "expiresAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."CodeBuddyRequest" OWNER TO postgres;

--
-- Name: Like; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Like" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "blogId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Like" OWNER TO postgres;

--
-- Name: Message; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Message" (
    id text NOT NULL,
    content text NOT NULL,
    "senderId" text NOT NULL,
    "recipientId" text NOT NULL,
    "timestamp" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Message" OWNER TO postgres;

--
-- Name: Notification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Notification" (
    id text NOT NULL,
    "senderId" text NOT NULL,
    "receiverId" text NOT NULL,
    "snippetId" text,
    "blogId" text,
    status public."RequestStatus" DEFAULT 'PENDING'::public."RequestStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "isRead" boolean DEFAULT false NOT NULL,
    type text,
    "codebuddyId" text
);


ALTER TABLE public."Notification" OWNER TO postgres;

--
-- Name: PasswordResetToken; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PasswordResetToken" (
    id text NOT NULL,
    token text NOT NULL,
    email text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."PasswordResetToken" OWNER TO postgres;

--
-- Name: Portfolio; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Portfolio" (
    id text NOT NULL,
    title text NOT NULL,
    summary character varying(1000) NOT NULL,
    profile text,
    projects jsonb,
    name text NOT NULL,
    stackid text,
    userid text NOT NULL,
    achievements text,
    interests text,
    availability text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "isPublished" boolean DEFAULT false NOT NULL,
    experiences jsonb,
    education text,
    location text,
    passionate text,
    yearofexperience text,
    certifications jsonb,
    techstack jsonb
);


ALTER TABLE public."Portfolio" OWNER TO postgres;

--
-- Name: Session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Session" (
    id text NOT NULL,
    "sessionToken" text NOT NULL,
    "userId" text NOT NULL,
    expires timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Session" OWNER TO postgres;

--
-- Name: Snippet; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Snippet" (
    id text NOT NULL,
    authorid text NOT NULL,
    title text NOT NULL,
    description text NOT NULL,
    content text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    visibility public."Visibility" DEFAULT 'private'::public."Visibility" NOT NULL,
    framework text
);


ALTER TABLE public."Snippet" OWNER TO postgres;

--
-- Name: SnippetRequest; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SnippetRequest" (
    id text NOT NULL,
    "snippetId" text NOT NULL,
    "requesterId" text NOT NULL,
    status public."RequestStatus" DEFAULT 'PENDING'::public."RequestStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."SnippetRequest" OWNER TO postgres;

--
-- Name: SocialLink; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SocialLink" (
    id text NOT NULL,
    platform text NOT NULL,
    url text NOT NULL,
    "portfolioId" text NOT NULL,
    logo text
);


ALTER TABLE public."SocialLink" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    username text NOT NULL,
    email text,
    "emailVerified" timestamp(3) without time zone,
    image text,
    password text,
    role public."Role" DEFAULT 'USER'::public."Role" NOT NULL,
    "codeBuddyId" text,
    "matchingPreferences" jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "portfolioId" text
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: _BlogAllowedUsers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."_BlogAllowedUsers" (
    "A" text NOT NULL,
    "B" text NOT NULL
);


ALTER TABLE public."_BlogAllowedUsers" OWNER TO postgres;

--
-- Name: _SnippetAllowedUsers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."_SnippetAllowedUsers" (
    "A" text NOT NULL,
    "B" text NOT NULL
);


ALTER TABLE public."_SnippetAllowedUsers" OWNER TO postgres;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: techStack; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."techStack" (
    category text,
    name text,
    id integer NOT NULL,
    logo text
);


ALTER TABLE public."techStack" OWNER TO postgres;

--
-- Name: techStack_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."techStack_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."techStack_id_seq" OWNER TO postgres;

--
-- Name: techStack_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."techStack_id_seq" OWNED BY public."techStack".id;


--
-- Name: techStack id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."techStack" ALTER COLUMN id SET DEFAULT nextval('public."techStack_id_seq"'::regclass);


--
-- Data for Name: Account; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Account" (id, "userId", type, provider, "providerAccountId", refresh_token, access_token, expires_at, token_type, scope, id_token, session_state) FROM stdin;
\.


--
-- Data for Name: Blog; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: BlogRequest; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."BlogRequest" (id, "blogId", "requesterId", status, "createdAt") FROM stdin;
cm9p6nktn0001uvsk6aucsilz	cm9oeqgg80000uvr84qrfysog	cm9ayo1xs0000uvf0qkawgq0u	APPROVED	2025-04-20 05:04:42.64
cm9pp8fpv0001uvswr6bk1da0	cm9oeqgg80000uvr84qrfysog	cm9gv97s00000uv9wj2kduu22	APPROVED	2025-04-20 13:44:49.513
\.


--
-- Data for Name: CodeBuddyRequest; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."CodeBuddyRequest" (id, "requesterId", "receiverId", status, "createdAt", "expiresAt") FROM stdin;
cmc9687gt000buvswv5dq9z3z	cma1a0agd0001uvkovy9aqbk3	cm9gv97s00000uv9wj2kduu22	APPROVED	2025-06-23 14:07:34.291	2025-06-30 14:07:34.286
\.


--
-- Data for Name: Like; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Like" (id, "userId", "blogId", "createdAt") FROM stdin;
cma9xp8jo0001uvd4kfczymdg	cm9ayo1xs0000uvf0qkawgq0u	cm9oeqgg80000uvr84qrfysog	2025-05-04 17:37:13.787
cma9xrucf0003uvd4sd5kejh0	cm9ayo1xs0000uvf0qkawgq0u	cm9o6r8a20002uvvcnd9crtjh	2025-05-04 17:39:15.423
\.


--
-- Data for Name: Message; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Message" (id, content, "senderId", "recipientId", "timestamp") FROM stdin;
cmclsfedj0000uvik6tee860x	hhello	cma1a0agd0001uvkovy9aqbk3	cm9gv97s00000uv9wj2kduu22	2025-07-02 10:02:15.557
cmclsgf7g0003uvikcixb3spd	how are you	cma1a0agd0001uvkovy9aqbk3	cm9gv97s00000uv9wj2kduu22	2025-07-02 10:03:03.293
cmclu6lxt0006uvikcptm7nnj	i am fine what about you	cm9gv97s00000uv9wj2kduu22	cma1a0agd0001uvkovy9aqbk3	2025-07-02 10:51:24.674
cmclue01f0009uvikldmd6re9	ok	cma1a0agd0001uvkovy9aqbk3	cm9gv97s00000uv9wj2kduu22	2025-07-02 10:57:09.555
\.


--
-- Data for Name: Notification; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: PasswordResetToken; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."PasswordResetToken" (id, token, email, "expiresAt", "createdAt") FROM stdin;
cm9fpycer0000uv2k3jj0qiz0	d5e060af7c1b8da69ee07c18541d74243409e38d73241a6bae424ac3988a1fa5	alphanumeric91@gmail.com	2025-04-13 14:22:16.56	2025-04-13 14:07:16.562
\.


--
-- Data for Name: Portfolio; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Session" (id, "sessionToken", "userId", expires) FROM stdin;
\.


--
-- Data for Name: Snippet; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: SnippetRequest; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."SnippetRequest" (id, "snippetId", "requesterId", status, "createdAt") FROM stdin;
cma6ojfeo0001uvj0niaoptwx	cm9e7tf5e0000uv3ctcytllvd	cma1a0agd0001uvkovy9aqbk3	APPROVED	2025-05-02 10:57:27.522
cma6c43jh0001uvlgqc91qbmf	cm9gvgrxy0001uv9w22oi1316	cm9ayo1xs0000uvf0qkawgq0u	APPROVED	2025-05-02 05:09:36.91
cma6ojiyi0005uvj0dlruat5u	cm9gvgrxy0001uv9w22oi1316	cma1a0agd0001uvkovy9aqbk3	APPROVED	2025-05-02 10:57:32.346
\.


--
-- Data for Name: SocialLink; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: _BlogAllowedUsers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."_BlogAllowedUsers" ("A", "B") FROM stdin;
cm9oeqgg80000uvr84qrfysog	cm9ayo1xs0000uvf0qkawgq0u
cm9oeqgg80000uvr84qrfysog	cm9gv97s00000uv9wj2kduu22
\.


--
-- Data for Name: _SnippetAllowedUsers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."_SnippetAllowedUsers" ("A", "B") FROM stdin;
cm9e7tf5e0000uv3ctcytllvd	cm9gv97s00000uv9wj2kduu22
cm9e7tf5e0000uv3ctcytllvd	cma1a0agd0001uvkovy9aqbk3
cm9gvgrxy0001uv9w22oi1316	cm9ayo1xs0000uvf0qkawgq0u
cm9gvgrxy0001uv9w22oi1316	cma1a0agd0001uvkovy9aqbk3
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: techStack; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: techStack_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."techStack_id_seq"', 64, true);


--
-- Name: Account Account_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Account"
    ADD CONSTRAINT "Account_pkey" PRIMARY KEY (id);


--
-- Name: BlogRequest BlogRequest_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BlogRequest"
    ADD CONSTRAINT "BlogRequest_pkey" PRIMARY KEY (id);


--
-- Name: Blog Blog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Blog"
    ADD CONSTRAINT "Blog_pkey" PRIMARY KEY (id);


--
-- Name: CodeBuddyRequest CodeBuddyRequest_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CodeBuddyRequest"
    ADD CONSTRAINT "CodeBuddyRequest_pkey" PRIMARY KEY (id);


--
-- Name: Like Like_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Like"
    ADD CONSTRAINT "Like_pkey" PRIMARY KEY (id);


--
-- Name: Message Message_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_pkey" PRIMARY KEY (id);


--
-- Name: Notification Notification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_pkey" PRIMARY KEY (id);


--
-- Name: PasswordResetToken PasswordResetToken_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PasswordResetToken"
    ADD CONSTRAINT "PasswordResetToken_pkey" PRIMARY KEY (id);


--
-- Name: Portfolio Portfolio_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Portfolio"
    ADD CONSTRAINT "Portfolio_pkey" PRIMARY KEY (id);


--
-- Name: Session Session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_pkey" PRIMARY KEY (id);


--
-- Name: SnippetRequest SnippetRequest_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SnippetRequest"
    ADD CONSTRAINT "SnippetRequest_pkey" PRIMARY KEY (id);


--
-- Name: Snippet Snippet_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Snippet"
    ADD CONSTRAINT "Snippet_pkey" PRIMARY KEY (id);


--
-- Name: SocialLink SocialLink_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SocialLink"
    ADD CONSTRAINT "SocialLink_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _BlogAllowedUsers _BlogAllowedUsers_AB_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."_BlogAllowedUsers"
    ADD CONSTRAINT "_BlogAllowedUsers_AB_pkey" PRIMARY KEY ("A", "B");


--
-- Name: _SnippetAllowedUsers _SnippetAllowedUsers_AB_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."_SnippetAllowedUsers"
    ADD CONSTRAINT "_SnippetAllowedUsers_AB_pkey" PRIMARY KEY ("A", "B");


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: techStack techStack_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."techStack"
    ADD CONSTRAINT "techStack_pkey" PRIMARY KEY (id);


--
-- Name: Account_provider_providerAccountId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Account_provider_providerAccountId_key" ON public."Account" USING btree (provider, "providerAccountId");


--
-- Name: CodeBuddyRequest_requesterId_receiverId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "CodeBuddyRequest_requesterId_receiverId_key" ON public."CodeBuddyRequest" USING btree ("requesterId", "receiverId");


--
-- Name: CodeBuddyRequest_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "CodeBuddyRequest_status_idx" ON public."CodeBuddyRequest" USING btree (status);


--
-- Name: Like_userId_blogId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Like_userId_blogId_key" ON public."Like" USING btree ("userId", "blogId");


--
-- Name: PasswordResetToken_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "PasswordResetToken_token_key" ON public."PasswordResetToken" USING btree (token);


--
-- Name: Portfolio_userid_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Portfolio_userid_key" ON public."Portfolio" USING btree (userid);


--
-- Name: Session_sessionToken_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Session_sessionToken_key" ON public."Session" USING btree ("sessionToken");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: User_username_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_username_key" ON public."User" USING btree (username);


--
-- Name: _BlogAllowedUsers_B_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "_BlogAllowedUsers_B_index" ON public."_BlogAllowedUsers" USING btree ("B");


--
-- Name: _SnippetAllowedUsers_B_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "_SnippetAllowedUsers_B_index" ON public."_SnippetAllowedUsers" USING btree ("B");


--
-- Name: Account Account_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Account"
    ADD CONSTRAINT "Account_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: BlogRequest BlogRequest_blogId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BlogRequest"
    ADD CONSTRAINT "BlogRequest_blogId_fkey" FOREIGN KEY ("blogId") REFERENCES public."Blog"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: BlogRequest BlogRequest_requesterId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BlogRequest"
    ADD CONSTRAINT "BlogRequest_requesterId_fkey" FOREIGN KEY ("requesterId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Blog Blog_authorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Blog"
    ADD CONSTRAINT "Blog_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: CodeBuddyRequest CodeBuddyRequest_receiverId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CodeBuddyRequest"
    ADD CONSTRAINT "CodeBuddyRequest_receiverId_fkey" FOREIGN KEY ("receiverId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: CodeBuddyRequest CodeBuddyRequest_requesterId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CodeBuddyRequest"
    ADD CONSTRAINT "CodeBuddyRequest_requesterId_fkey" FOREIGN KEY ("requesterId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Like Like_blogId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Like"
    ADD CONSTRAINT "Like_blogId_fkey" FOREIGN KEY ("blogId") REFERENCES public."Blog"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Like Like_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Like"
    ADD CONSTRAINT "Like_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Message Message_recipientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_recipientId_fkey" FOREIGN KEY ("recipientId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Message Message_senderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_senderId_fkey" FOREIGN KEY ("senderId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Notification Notification_blogId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_blogId_fkey" FOREIGN KEY ("blogId") REFERENCES public."Blog"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Notification Notification_codebuddyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_codebuddyId_fkey" FOREIGN KEY ("codebuddyId") REFERENCES public."CodeBuddyRequest"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Notification Notification_receiverId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_receiverId_fkey" FOREIGN KEY ("receiverId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Notification Notification_senderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_senderId_fkey" FOREIGN KEY ("senderId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Notification Notification_snippetId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_snippetId_fkey" FOREIGN KEY ("snippetId") REFERENCES public."Snippet"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Portfolio Portfolio_userid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Portfolio"
    ADD CONSTRAINT "Portfolio_userid_fkey" FOREIGN KEY (userid) REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Session Session_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SnippetRequest SnippetRequest_requesterId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SnippetRequest"
    ADD CONSTRAINT "SnippetRequest_requesterId_fkey" FOREIGN KEY ("requesterId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SnippetRequest SnippetRequest_snippetId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SnippetRequest"
    ADD CONSTRAINT "SnippetRequest_snippetId_fkey" FOREIGN KEY ("snippetId") REFERENCES public."Snippet"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Snippet Snippet_authorid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Snippet"
    ADD CONSTRAINT "Snippet_authorid_fkey" FOREIGN KEY (authorid) REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SocialLink SocialLink_portfolioId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SocialLink"
    ADD CONSTRAINT "SocialLink_portfolioId_fkey" FOREIGN KEY ("portfolioId") REFERENCES public."Portfolio"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: User User_codeBuddyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_codeBuddyId_fkey" FOREIGN KEY ("codeBuddyId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: _BlogAllowedUsers _BlogAllowedUsers_A_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."_BlogAllowedUsers"
    ADD CONSTRAINT "_BlogAllowedUsers_A_fkey" FOREIGN KEY ("A") REFERENCES public."Blog"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _BlogAllowedUsers _BlogAllowedUsers_B_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."_BlogAllowedUsers"
    ADD CONSTRAINT "_BlogAllowedUsers_B_fkey" FOREIGN KEY ("B") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _SnippetAllowedUsers _SnippetAllowedUsers_A_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."_SnippetAllowedUsers"
    ADD CONSTRAINT "_SnippetAllowedUsers_A_fkey" FOREIGN KEY ("A") REFERENCES public."Snippet"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _SnippetAllowedUsers _SnippetAllowedUsers_B_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."_SnippetAllowedUsers"
    ADD CONSTRAINT "_SnippetAllowedUsers_B_fkey" FOREIGN KEY ("B") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

